body{
    margin: 0;
    padding: 0;
    background-image: url(./images/travel_2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

#about-us{
    border-radius: 50px;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border: 2px solid white;
    position: relative;
    width: 30%;
    text-align: center;
    left: 60%;
    top: 50px;
    color: #2dc2ef;
    padding: 0px 25px 0 25px;
    line-height: 25px;
    font-weight: 0;
}

.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 5%;
    padding: 10px;
    gap: 10px;
    border-radius: 40px;
    position: absolute;
    bottom: 7%;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.chat-messages {
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    height: 500px;
    border-radius: 30px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
}

.message {
    margin: 10px;
    clear: both;
}

.user .message-content {
    background-color: #ffffff;
    color: #01c4ff;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    float: left;
}

.bot .message-content {
    background-color: #f8bccc;
    color: #333;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin-left: 80px;
}

/* Clearfix for floated elements */
.message:after {
    content: '';
    display: table;
    clear: both;
}

.dot-loader {
    text-align: center;
    margin-top: 20px;
}

.dot-loader::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #007bff;
    border-top: 3px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* ---------Input for chat--------- */
.chat-input {
    width: 95%;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
  #user-input{
    width: 200px;
    /* height: 40px; */
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
  }

  /* ---------Send-button--------- */
  #send-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 25px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  }
  
  #send-button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
  }
  
  #send-button:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222,0,75);
    background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
  
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

  /* ------------Social Icons--------- */
  .content-center{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 20%;
    position: absolute;
    left: 65%;
    bottom: 5%;
    justify-content: space-around;
 }

ul{
    display:flex;
    list-style:none;
}

ul li{
margin:10px;
height:60px;
width:60px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
cursor:pointer;
position:relative;

}

ul li i{
transition:all 0.3s linear;
}


ul li:hover i{
color:#fff;
font-size:17px;
}

ul li:hover::after{
opacity:1;
transform:scale(0.8);
}

ul li::after{
content:"";
position:absolute;
height:inherit;
width:inherit;
border-radius:50%;
opacity:0;
z-index:-1;
transition:all 0.3s linear;
}

ul li:nth-child(1){
border:2px solid #3b5998;
color:#3b5998;
}

ul li:nth-child(1)::after{
background-color:#3b5998;
 color:#3b5998;
}


ul li:nth-child(2){
border:2px solid #00aced;
color:#00aced;
}

ul li:nth-child(2)::after{
background-color:#00aced;
 color:#00aced;
}


ul li:nth-child(3){
border:2px solid #007bb6;
color:#007bb6;
}

ul li:nth-child(3)::after{
background-color:#007bb6;
color:#007bb6;
}

ul li:nth-child(4){
border:2px solid #dd4b39;
color:#dd4b39;
}

ul li:nth-child(4)::after{
background-color:#dd4b39;
color:#dd4b39;
}

.content-center a{
  color: inherit;
}

/* -----------------Image dialog box---------------------- */
.hidden {
  display: none;
}

#image-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 80%;
  overflow: auto;
}

#image-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  height: 85%;
}

#image-container img {
  width: 95%;
  height: 90%;
  margin: auto;
}

#close-dialog {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  background: #0074d9;
  color: white;
  border: none;
  cursor: pointer;
}

/* --------------Responsiveness------------------- */
/* Styles for small screens (up to 767px) */

@media (max-width: 767px) {

  #about-us {
      width: 80%; 
      font-size: 14px;
      color: white;
      left: 3.5%;
      right: 2.5%;
      top: 25px;
  }

  .chat-content {
      width: 90%;
      margin-left: 4%; 
      top: 45%;
      padding: 5px;
      height: 400px; 
  }

  .chat-messages {
      height: 250px;
      padding: 0; /* Adjust height for small screens */
  }

  .chat-input{
    width: 90%;
  }

  #user-input {
      width: 60%; /* Reduce width for small screens */
  }

  #send-button {
      width: 25%; /* Reduce width for small screens */
  }

  .content-center {
      width: 80%; /* Reduce width for small screens */
      left: 3%;
      top: 114%;
  }

  ul li {
      width: 45px; 
      height: 45px; 
      margin: 3px;
      padding: 2px; 
      margin-bottom: 10px;
      margin-left: 20px;
  }

  ul li i {
      font-size: 12px; 
  }

  #image-dialog {
      width: 70%; 
      height: 40%;
      top: 150px; 
      bottom: 20%; /* Center vertically for small screens */
      left: 50%;
      position: relative; /* Center horizontally for small screens */
  }

  #image-container {
      grid-template-columns: repeat(1, 1fr); /* Change to a single column for small screens */
  }

  #close-dialog {
      margin: 8px auto; /* Adjust margin for small screens */
  }
}
/* ------------Screens bigger than small------- */

@media (min-width:390px) and (max-width:896px) {
  .chat-content {
    width: 90%;
    margin-left: 4%; 
    top: 35%;
    padding: 5px;
    height: 550px; 
  }

  .content-center {
    width: 80%; /* Reduce width for small screens */
    left: 3%;
    top: 108%;
  }

  #image-dialog {
    width: 70%; 
    height: 40%;
    top: 200px; 
    bottom: 20%; /* Center vertically for small screens */
    left: 50%;
    position: relative; /* Center horizontally for small screens */
  }
}
/* --------Medium screens--------------- */

@media (min-width: 768px) and (max-width: 1024px) {

  #about-us {
    width: 85%; 
    font-size: 14px;
    color: white;
    left: 3.5%;
    right: 2.5%;
    top: 25px;
}

.chat-content {
    width: 90%;
    margin-left: 4%; 
    top: 20%;
    padding: 5px;
    height: 650px; 
}

.chat-messages {
    height: 250px;
    padding: 5px; /* Adjust height for small screens */
}

.chat-input{
  width: 95%;
}

#user-input {
    width: 70%; /* Reduce width for small screens */
}

#send-button {
    width: 15%; /* Reduce width for small screens */
}

.content-center {
    width: 80%; /* Reduce width for small screens */
    left: 6%;
    top: 85%;
}

ul li {
    width: 55px; 
    height: 55px; 
    margin: 3px;
    padding: 2px; 
    margin-bottom: 0px;
    margin-left: 20px;
}

ul li i {
    font-size: 12px; 
}

#image-dialog {
    width: 90%; 
    height: 50%;
    top: 400px; 
    bottom: 20%; /* Center vertically for small screens */
    left: 50%;
    position: relative; /* Center horizontally for small screens */
}

#image-container {
    grid-template-columns: repeat(2, 1fr); /* Change to a single column for small screens */
}

#close-dialog {
    margin: 8px auto; /* Adjust margin for small screens */
}

}

/* ---------Screen bigger than medium screens */
@media (min-width: 900px) and (max-width:1368px){
  .content-center {
    width: 80%; /* Reduce width for small screens */
    left: 6%;
    top: 60%;
  }
}

@media (min-width: 540px) and (max-width: 720px){
  .content-center {
    width: 80%; /* Reduce width for small screens */
    left: 6%;
    top: 120%;
  }

  #image-dialog {
    width: 90%; 
    height: 50%;
    top: 400px; 
    bottom: 20%; /* Center vertically for small screens */
    left: 50%;
    position: relative; /* Center horizontally for small screens */
  }

  #image-container {
    grid-template-columns: repeat(2, 1fr); /* Change to a single column for small screens */
  }
}